header {
    background-image: url('../static/header3.jpg');
    background-size: 100%;
    background-position: 100% 83%; /* Расположить изображение по центру */
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white; 
    padding: 50px;
    text-align: center;
    position: fixed;
    transition: top 0.3s; /* Плавное изменение положения */
    width: 100%;
    z-index: 1;
    top: 0%;
    height: 158px;
    min-width: 750px;
}

body {
    font-family: 'Fira Code', Arial, sans-serif;
    background-color: #06070d; /* Установка цвета фона */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Устанавливаем минимальную высоту body равной высоте окна браузера */
}

h1 { color: #fff; background-color: #000000; /* Цвет выделенного текста */ }

h2 { text-align: center; color: white; }

ul {
    overflow: auto; /* Установка области прокрутки для случая, когда изображения занимают больше места, чем доступно на экране */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 70px; /* Добавляем отступ снизу */
    max-width: 95%;
}

li { margin-bottom: 10px; }

form { margin-top: 20px; }

a { color: #fff; }

/* Изменяем цвет текста при наведении и убираем подчеркивание при наведении */
a:hover { color: #fff; text-decoration: none;  }

.content-main {
    margin-top: 140px;
    padding: 60px;
    overflow-y: auto;
    min-width: 750px;
    max-width: 100%;
}

.image-gallery {
    /* overflow: auto; */ /* Установка области прокрутки для случая, когда изображения занимают больше места, чем доступно на экране */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px; /* Добавляем отступ снизу */
}

.image-item,
.query-item { padding: 2px; margin: 0 auto; }

.image-item img,
.query-item img {
    min-height: 160px;
    max-height: 200px;
    height: 200px;
    border: 2px solid #ccc0;
    border-radius: 5px;
}

.image-container {
    position: relative;
    display: inline-block; /* Чтобы элемент занимал только необходимое пространство */
}

.image-container:hover .overlay {
    opacity: 1; /* Показываем квадрат при наведении на изображение */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00000077, #00000080, #00000077); /* Черный цвет с прозрачностью */
    opacity: 0; /* Скрыть квадрат по умолчанию */
    transition: opacity 0.3s ease; /* Добавляем плавный эффект перехода */
    pointer-events: none;
}

.description {
    color: wheat;
    position: absolute;
    width: 200px;
    top: 105px;
    left: 10px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 3px 3px 5px black;
}

.description-overlay {
    opacity: 0; /* Начальная непрозрачность */
    transition: opacity 0.3s ease; /* Плавное изменение прозрачности */
    display: flex;
    position: absolute;
}

.image-item:hover .description-overlay { opacity: 1; } /* Сделать оверлей непрозрачным при наведении */

.author,
.private-description {
    color: wheat;
    position: absolute;
    width: 200px;
    top: 140px;
    left: 10px;
    font-size: 14px;
    text-shadow: 3px 3px 5px black;
}

.query-description {
    width: 300px;
    color: #fff;
    position: absolute;
    background-color: #222222;
    text-align: center;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #222222;
    border-radius: 5px;
}

/* Скрытое модальное окно */
.modal-prev {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7); /* Полупрозрачный фон */
}

/* Контейнер с изображением */
.modal-content-prev {
    display: block;
    margin: 10% auto;
    width: 80%; /* Масштабирование изображение в модальном окне */
    max-width: 800px; /* Максимальная ширина модального окна */
}

/* Кнопка для закрытия модального окна */
.close {
    position: fixed;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
}

.close:hover,
.close:focus { color: #bbb; text-decoration: none; cursor: pointer; }

/* Стили для ссылки "Добавить" и "Очистить галерею" */
button[name="add-btn"],
button[name="clear-btn"] {
    display: inline-block; /* Устанавливаем блочно-строчный тип элемента */
    padding: 6px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 5px;
}

button[name="clear-btn"] { background-color: #af4c4c; right: 50px; }

button[type="submit"]:hover { background-color: #9b2c2c; }

button[name="add-btn"] { background-color: #4CAF50; left: 50px; }

button[name="add-btn"]:hover { background-color: #1d9718; }

button[name="del-btn"] { top: 165px; }

button[name="prvt-del-btn"] { top: -35px; }

button[name="del-btn"],
button[name="prvt-del-btn"],
button[name="delete-all-btn"] {
    background-size: cover;
    border-radius: 5px;
    background-color: #af4c4c;
    color: #fff;
    font-size: 13.3333px;
    position: relative;
    left: 38px;
    transform: translate(-50%, -50%);
}

button[name="delete-all-btn"] {
    position: absolute;
    background-color: #0a060600;
    border: solid 1px #fff;
    top: 175px;
    left: 105px;
    width: 109px;
}

button[name="delete-all-btn"]:hover {
    background-color: #0a060600;
    color: #c93535;
    border-color: #c93535;
}

/* Стили для модального окна добавления изображения */
#addImageModal {
    display: none; /* По умолчанию модальное окно скрыто */
    position: fixed; /* Фиксированное положение на экране */
    z-index: 1000; /* Перекрывает другие элементы */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Добавляем прокрутку, если содержимое больше размеров окна */
    background-color: rgba(0, 0, 0, 0.664); /* Полупрозрачный фон */
}

/* Стили для содержимого модального окна */
.modal-content {
    background-color: #414346d0; /* Цвет фона */
    margin: 20px auto; /* Выравниваем содержимое по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина модального окна */
    height: 40%; /* Высота модального окна */
    max-width: 500px; /* Максимальная ширина */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Стили для области описания */
textarea {
    background-color: #212529;
    width: 100%;
    position: absolute;
    top: 220px;
    right: 0px;
    margin-bottom: 15px;
    resize: none;
    color: #fff;
}

/* Стили для поля выбора изображения */
input[type="file"] {
    display: block;
    position: absolute;
    top: 116px;
    width: 100%;
    margin-bottom: 15px;
    width: 415px;
    max-width: 100%;
    color: #fff;
    padding: 5px;
    background: #555;
    border-radius: 10px;
    border: 1px solid #000000;
}

/* Стили для кнопки отправки */
input[type="submit"].modal-add {
    display: block;
    position: absolute;
    top: 280px;
    right: 0px;
    width: 100%;
    padding: 5px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    border-color: #000000;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"].modal-add:hover { background-color: #1d9718; }

input[name="query"] {
    width: 150px;
    position: absolute;
    top: 58px;
    left: 58px;
    border-radius: 5px;
    background-color: black;
    border-color: #4CAF50;
    color: #ccc;
}

/* Анимация открытия модального окна */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

footer {
    background: linear-gradient(360deg, #12141600, #131618);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 100%;
    min-width: 750px; /* Пример минимальной ширины */
}

button[name="reg-btn"],
button[name="login-btn"] {
    border-color: #4CAF50; /* Цвет границы */
    color: #fff;
    position: absolute;
    padding: 1px 6px;
    top: 60px;
}

button[name="reg-btn"] { background-color: #4CAF50; right: 58px; }

button[name="login-btn"] { right: 183px; }

 /* Цвет границы при наведении цвет текста при наведении */
button[name="reg-btn"]:hover,
button[name="login-btn"]:hover { border-color: #1d9718; color: #fff;  }

button[name="reg-btn"]:hover { background-color: #1d9718; }

.btn-danger {
    position: relative;
    top: -60px; /* Расстояние от верха страницы */
    left: 1000px; /* Расстояние от левого края страницы */
    padding: 1px 6px;
}

input[type="submit"].btn-danger-out {
    display: inline-block;
    background-color: #75707000;
    color: #818181;
    position: absolute;
    top: 180px;
    right: 14px;
    padding: 1px 4px;
}

input[type="submit"].btn-danger-out:hover { border-color: #fff; color: #fff; }

/* Новый цвет фона, границы, текста при наведении для кнопок с классом btn-primary-modal */
button[type="submit"].btn-primary-modal { background-color: #4CAF50; border-color: #1d9718; color: #fff; }

/* Новый цвет фона, границы, текста при наведении для кнопок с классом btn-primary-modal при наведении */
button[type="submit"].btn-primary-modal:hover { background-color: #1d9718; border-color: #1d9718; color: #fff; } 

/* Стиль для приветственного сообщения */
.site-msg {
    color: #fff;
    position: absolute;
    top: 62px;
    right: 108px;
}

/* Стиль для OK сообщения */
.found-msg {
    color: #1dc51d;
    position: absolute;
    top: 62px;
    right: 240px;
}

/* Стиль для предупреждающего сообщения */
.not-found-msg {
    color: red;
    position: absolute;
    top: 62px;
    right: 240px;
}

/* Изменение цвета фона скроллбара и его ширины */
::-webkit-scrollbar { background-color: #494949; width: 10px;  }

/* Изменение цвета ползунка скроллбара */
::-webkit-scrollbar-thumb { background-color: #686565; }

/* Стили для кнопки профиля */
.dropbtn {
    background-color: #00000000;
    border-left: none;
    border-top: none;
    border-bottom: solid 2px #818181;
    color: #818181;
    font-size: 16px;
}

.dropbtn:hover { color: #fff; }

/* Стили для контейнера всего меню */
.dropdown {
    position: absolute;
    right: 68px;
    top: 61px;
    border: none;
}

/* Стили для выпадающего меню */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #757070;
    min-width: 160px;
    border-radius: 5px;
    right: 0px;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
}

/* Стили для ссылок в выпадающем меню */
.dropdown-content a {
    color: #fff;
    background-color: #111;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    font-size: 14px;
}

/* Стили для ссылок при наведении */
.dropdown-content a:hover { background-color: #353535; color: #fff; }

/* Отображение выпадающего меню при нажатии на кнопку */
.show { display:block; }

/* Расстояние между текстом и иконкой */
.github-icon { margin-top: 10px; }

/* Иконка и её размер */
.github-icon i { background-image: url('../static/icon.png'); font-size: 24px; }

@media (max-width: 1030px) {
    button[name="login-btn"],
    button[name="reg-btn"],
    input[name="query"],
    button[name="clear-btn"],
    button[name="add-btn"],
    span[name="menu"][onclick="openNav()"],
    .dropbtn {
      display: none;
    }
}

span[name="menu"] { display: none; }

/* Боковое навигационное меню */
.sidenav { display: none; }

/* Навигация по меню */
.sidenav a { display: none }

.sidenav a:hover { color: #f1f1f1; }

/* Позиция и стиль для кнопки закрытия сайдбара (правый верхний угол) */
.sidenav .closebtn {
    position: absolute;
    top: 54px;
    right: 11px;
    font-size: 16px;
    margin-left: 50px;
}

#main { transition: margin-left .5s; padding: 20px; }

@media screen and (min-height: 300px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}

/* Показать кнопки только на маленьких экранах */
@media screen and (max-width: 1030px) {
    span[name="menu"].visible-on-small-screen {
        display: inline;
        position: absolute;
        top: 60px;
        right: 70px;
        background-color: #111;
        border: solid 2px #4CAF50;
        width: 50px;
        border-radius: 5px;
        color: #ffffff;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
        position: absolute;
        right: 10px;
        top: 95px;
    }

    .sidenav {
        display: inline-block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s; 
    }

    button[name="login-btn"].visible-on-small-screen,
    button[name="reg-btn"].visible-on-small-screen,
    .query.visible-on-small-screen {
        display: inline-block;
        position: absolute;
        top: 61px;
    }

    button[name="reg-btn"].visible-on-small-screen { right: 57px; }

    button[name="login-btn"].visible-on-small-screen { right: 182px; }

    .query.visible-on-small-screen {
        position: absolute;
        top: 10px;
        left: 15px;
        width: 220px;
    }

    .username.visible-on-small-screen {
        position: absolute;
        top: 62px;
        right: 19px;
        color: #818181;
        border-bottom: solid;
    }

    button[name="add-btn"].visible-on-small-screen, 
    button[type="submit"].visible-on-small-screen,
    button[name="delete-all-btn"].visible-on-small-screen { display: inline-block; position: absolute; }

    button[type="submit"].visible-on-small-screen { right: 7px; }

    button[name="add-btn"].visible-on-small-screen { left: 7px; }

    button[name="delete-all-btn"].visible-on-small-screen {
        left: 182px;
        top: 152px;
        padding: 3px 3px;
        width: 109px;
        border: none;
        color: #818181;
        font-size: 15px;
    }

    button[name="delete-all-btn"].visible-on-small-screen:hover {
        color: #c93535;
        border: solid 1px #c93535;
    }
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #4CAF50;
    padding: 10px 20px;
    border: solid 1px black;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
input[type=file]::file-selector-button:hover { background: #1d9718; }

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
.drop-container:hover { background: #444; border-color: #111; }
  
.drop-container:hover .drop-title {color: #222; }
  
.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}
