header {
    background-color: #333;
    background-image: url('../static/header2.png');
    background-size: auto;
    background-position: center; /* Расположить изображение по центру */
    padding: 50px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222222; /* Установка цвета фона */
}

h1 {
    color: #fff;
    background-color: #000000; /* Цвет фона текста */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

.image-gallery {
    /* Установка области прокрутки для случая, когда изображения занимают больше места, чем доступно на экране */
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    padding: 10px;
    margin: 0 auto;
}

.image-item img {
    /* Установка отступов между ячейками таблицы */
    padding: 10px;
    
    /* Определение фиксированных размеров ячеек таблицы */
    width: 200px;
    height: 200px; /* Высота изображения */

    /* Добавляем рамку вокруг изображения */
    border: 2px solid #ccc;
    
    /* Скругляем углы изображения */
    border-radius: 5px;
}

/* Скрытое модальное окно */
.modal-prev {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7); /* Полупрозрачный фон */
}

/* Контейнер с изображением */
.modal-content-prev {
    display: block;
    margin: 10% auto;
    width: 80%; /* Масштабирование изображение в модальном окне */
    max-width: 800px; /* Максимальная ширина модального окна */
}

/* Кнопка для закрытия модального окна */
.close {
    color: white;
    position: fixed;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для ссылки "Добавить" */
a.add-btn {
    display: inline-block; /* Устанавливаем блочно-строчный тип элемента */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px; /* Устанавливаем отступ справа */
    margin-bottom: 10px; /* Устанавливаем отступ снизу */
    float: left; /* Выравниваем элемент по правому краю */
}


a.add-btn:hover {
    background-color: #0056b3;
}

button[name="clear-btn"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d40633;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    float: right;
}

button[type="submit"]:hover {
    background-color: #ff0c0c;
}

button[name="del-btn"] {
    /* background-image: url('../static/delico.png'); */
    background-size: cover;
    border-radius: 7px;
    opacity: 0.7;
    background-color: #d40633;
    color: #fff;
    width: 100px;
    height: 25px;
    position: relative;
    top: -20px; /* Смещение кнопки вниз на 20px */
    left: 62px;
}

/* Стили для модального окна добавления изображения */
#addImageModal {
    display: none; /* По умолчанию модальное окно скрыто */
    position: fixed; /* Фиксированное положение на экране */
    z-index: 1000; /* Перекрывает другие элементы */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Добавляем прокрутку, если содержимое больше размеров окна */
    background-color: rgba(0, 0, 0, 0.664); /* Полупрозрачный фон */
}

/* Стили для содержимого модального окна */
.modal-content {
    background-color: #e6e6e6bd; /* Цвет фона */
    background-size: 500px 500px; /* Размеры фонового изображения */
    background-repeat: no-repeat; /* Запрет повтора изображения */
    background-position: center; /* Располагаем изображение по центру */
    margin: 20px auto; /* Выравниваем содержимое по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина модального окна */
    max-width: 500px; /* Максимальная ширина */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Стили для поля выбора изображения */
input[type="file"] {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

/* Стили для описания */
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    resize: none; /* Запрещаем изменение размера текстового поля */
}

/* Стили для кнопки отправки */
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #56960d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #5fb300;
}

/* Анимация открытия модального окна */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
