header {
    background-image: url('../static/header3.jpg');
    background-size: 100%;
    background-position: 100% 83%; /* Расположить изображение по центру */
    border: 1px solid white; 
    padding: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0%;
    height: 158px;
}

body {
    font-family: 'Fira Code', Arial, sans-serif;
    background-color: #222222; /* Установка цвета фона */
}

h1 {
    color: #fff;
    background-color: #000000; /* Цвет выделенного текста */
}

h2 {
    text-align: center;
    color: white;
}

ul {
    overflow: auto; /* Установка области прокрутки для случая, когда изображения занимают больше места, чем доступно на экране */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 70px; /* Добавляем отступ снизу */
}

li {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

a {
    color: #fff;
}

a:hover {
    color: #fff; /* Изменяем цвет текста при наведении */
    text-decoration: none; /* Убираем подчеркивание при наведении */
}

.query-item img {
    padding: 10px;
    width: 300px;
    height: 300px; 
    border: 2px solid #ccc;
    border-radius: 5px;
}

.content {
    margin-top: 170px; /* Высота фиксированного заголовка */
    padding: 20px;
    overflow-y: auto; /* Включение вертикальной прокрутки */
}

.image-gallery {
    overflow: auto; /* Установка области прокрутки для случая, когда изображения занимают больше места, чем доступно на экране */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px; /* Добавляем отступ снизу */
}

.image-item {
    padding: 10px;
    margin: 0 auto;
}

.image-item img {
    padding: 10px; /* Установка отступов между ячейками таблицы */
    width: 200px;
    height: 200px; /* Высота изображения */ 
    border: 2px solid #ccc; /* Добавляем рамку вокруг изображения */
    border-radius: 5px; /* Скругляем углы изображения */
}

.description {
    width: 200px;
    color: #fff;
    position: absolute;
    background-color: #222222; /* Цвет выделенного текста */
    text-align: center;
    border-left: 2px solid #ccc; /* Граница слева */
    border-right: 2px solid #ccc; /* Граница справа */
    border-top: 2px solid #ccc; /* Граница сверху */
    border-bottom: 2px solid #222222; /* Граница снизу */
    border-radius: 5px;
}

.query-description {
    width: 300px;
    color: #fff;
    position: absolute;
    background-color: #222222;
    text-align: center;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #222222;
    border-radius: 5px;
}

/* Скрытое модальное окно */
.modal-prev {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7); /* Полупрозрачный фон */
}

/* Контейнер с изображением */
.modal-content-prev {
    display: block;
    margin: 10% auto;
    width: 80%; /* Масштабирование изображение в модальном окне */
    max-width: 800px; /* Максимальная ширина модального окна */
}

/* Кнопка для закрытия модального окна */
.close {
    position: fixed;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для ссылки "Добавить" и "Очистить галерею" */
button[name="add-btn"],
button[name="clear-btn"] {
    display: inline-block; /* Устанавливаем блочно-строчный тип элемента */
    padding: 6px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 5px;
}

button[name="add-btn"] {
    background-color: #007bff;
    left: 50px;
}

button[name="clear-btn"] { 
    background-color: #d40633;
    right: 50px;
}

button[name="add-btn"]:hover {
    background-color: #315dee;
}

button[name="del-btn"] {
    background-size: cover;
    border-radius: 7px;
    opacity: 0.7;
    background-color: #d40633;
    color: #fff;
    width: 100px;
    height: 25px;
    font: Arial;
    font-size: 13.3333px;
    position: relative;
    top: -15px;
    left: 50px;
}

button[type="submit"]:hover {
    background-color: #ff0c0c;
}

/* Стили для модального окна добавления изображения */
#addImageModal {
    display: none; /* По умолчанию модальное окно скрыто */
    position: fixed; /* Фиксированное положение на экране */
    z-index: 1000; /* Перекрывает другие элементы */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Добавляем прокрутку, если содержимое больше размеров окна */
    background-color: rgba(0, 0, 0, 0.664); /* Полупрозрачный фон */
}

/* Стили для содержимого модального окна */
.modal-content {
    background-color: #414346d0; /* Цвет фона */
    margin: 20px auto; /* Выравниваем содержимое по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина модального окна */
    max-width: 500px; /* Максимальная ширина */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Стили для области описания */
textarea {
    background-color: #212529;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    resize: none; /* Запрещаем изменение размера текстового поля */
    color: #fff;
}

/* Стили для поля выбора изображения */
input[type="file"] {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

/* Стили для кнопки отправки */
input[type="submit"].modal-add {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4c5740;
    color: #fff;
    border-radius: 5px;
    border-color: #000000;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #5b9c10;
}

input[name="query"] {
    width: 150px;
    position: absolute;
    top: 58px;
    left: 58px;
    border-radius: 5px;
    background-color: black;
    border-color: #1b7ee7;
    color: #ccc;
}

/* Анимация открытия модального окна */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 600px; /* Пример минимальной ширины */
}

button[name="reg-btn"],
button[name="login-btn"] {
    border-color: #1b7ee7; /* Цвет границы */
    color: #fff;
    position: absolute;
    padding: 1px 6px;
    top: 60px;
}

button[name="reg-btn"] {
    background-color: #007bff;/* Цвет фона */
    right: 58px;
}

button[name="login-btn"] {
    right: 183px;
}

button[name="reg-btn"]:hover,
button[name="login-btn"]:hover {
    border-color: #0056b3; /* Цвет границы при наведении */
    color: #fff; /* Цвет текста при наведении */
}

button[name="reg-btn"]:hover {
    background-color: #315dee;
}

.btn-danger {
    position: relative;
    top: -60px; /* Расстояние от верха страницы */
    left: 1000px; /* Расстояние от левого края страницы */
    padding: 1px 6px;
}

input[type="submit"].btn-danger-out {
    display: inline-block;
    background-color: #757070;
    border-color: #000000;
    border-width: 2px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 1px 4px;
}

input[type="submit"].btn-danger-out:hover {
    background-color: #535252; /* Новый цвет фона при наведении */
    color: #fff; 
}

button[type="submit"].btn-primary-modal {
    background-color: rgb(47, 139, 238); /* Новый цвет фона при наведении */
    border-color: #0056b3; /* Новый цвет границы при наведении */
    color: #fff; /* Цвет текста при наведении */
}

/* Стиль для кнопок с классом btn-primary-modal при наведении */
button[type="submit"].btn-primary-modal:hover {
    background-color: #315dee; /* Новый цвет фона при наведении */
    border-color: #0056b3; /* Новый цвет границы при наведении */
    color: #fff; /* Цвет текста при наведении */
} 

/* Стиль для приветственного сообщения */
.site-msg {
    color: #fff;
    position: absolute;
    top: 62px;
    right: 58px;
}

/* Стиль для предупреждающего сообщения */
.not-found-msg {
    color: red;
    position: absolute;
    top: 62px;
    right: 240px;
}

::-webkit-scrollbar {
    background-color: #f0f0f0; /* Изменение цвета фона скроллбара */
    width: 10px; /* Ширина скроллбара */
}

::-webkit-scrollbar-thumb {
    background-color: #615f5f; /* Изменение цвета ползунка скроллбара */
}
