<!DOCTYPE html>
<html>
<head>
    <title>Донатики</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.donate.css') }}">
</head>
<body>
    <a href="/">
        <img src="{{ url_for('static', filename='main_logo.png') }}" alt="Логотип">
    </a>
    <div class="header-info-window">
        <div class="header">Михаил Адамян
            <div class="avatar"></div>
        </div>
    </div>

    <div class="info-window ">
        <h2>Общая информация</h2>
        <!-- Вставьте общую информацию о пользователе сюда -->
        <p><b>Статус:</b> Начинающий python-разработчик</p>
        <p><b>Цель:</b> Собрать $5000 на обслуживание сервера (и мне на покушать)</p>
        <p><b>Номер карты:</b> 2200 1523 0655 7664</p>
        <p><b>Собранно:</b> </p>
    </div>
</body>
</html>
