<!DOCTYPE html>
<html>
<head>
    <title>Простая онлайн галерея</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> <!-- Подключение стилей Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header>
        <h1>Простая Онлайн Галерея</h1>
        {% if logged_in %}
            {% if username == 'admin' %}
            <form method="post" action="{{ url_for('clear_gallery') }}" onsubmit="return confirm('Вы уверены, что хотите удалить все изображения?');">
            <button type="submit" name="clear-btn">Очистить галерею</button>
            </form>
            <button class="add-btn" name="add-btn">Добавить</button>
            {% elif username == 'user' %}
            <button class="add-btn" name="add-btn">Добавить</button>
            {% else %}
            <button class="add-btn" name="add-btn">Добавить</button>
            {% endif %}
        {% endif %}
        <div class="container">
            {% if logged_in %}
            <p class="site-msg">Добро пожаловать, {{ username }}!</p>
            <form action="/logout" method="post">
                <input type="submit" class="btn btn-danger-out" value="Выйти">
            </form>
            {% else %}
            {% if message %}
            <p class="not-found-msg">{{ message }}</p>
            {% else %}
            <p class="site-msg"></p>
            {% endif %}
            <button type="button" class="btn btn-primary-main" data-toggle="modal" data-target="#loginModal" name="login-btn">Вход</button>
            <button type="button" class="btn btn-primary-main" data-toggle="modal" data-target="#registerModal" name="reg-btn">Регистрация</button>
            {% endif %}
        </div>
    </header>
        <!-- Модальное окно для входа -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Вход</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Форма для входа -->
                        <form id="loginForm" method="post" action="/login">
                            <div class="form-group">
                                <input type="text" class="form-control" id="loginUsername" name="username" placeholder="Имя пользователя">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="loginPassword" name="password" placeholder="Пароль">
                            </div>
                            <button type="submit" class="btn btn-primary-modal">Войти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Модальное окно для регистрации -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Форма для регистрации -->
                        <form id="registerForm" method="post" action="/register">
                            <div class="form-group">
                                <input type="text" class="form-control" id="registerUsername" name="username" minlength="4" placeholder="Имя пользователя" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="registerPassword" name="password" minlength="4"  placeholder="Пароль" required>
                            </div>
                            <button type="submit" class="btn btn-primary-modal">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <!-- Модальное окно для добавления изображения -->
            <div id="addImageModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <!-- Содержимое формы добавления изображения -->
                    <form method="post" action="{{ url_for('add_image') }}" enctype="multipart/form-data">
                        <input type="file" name="image" id="image" required><br>
                        <label for="description">Описание:</label><br>
                        <textarea name="description" id="description"></textarea><br>
                        <input type="submit" class="modal-add" value="Добавить">
                    </form>
                </div>
            </div>
            <div id="imagePreviewModal" class="modal-prev">
                <span class="close">&times;</span>
                <img class="modal-content-prev" id="previewImage">
            </div>
            <div class="image-gallery">
                {% for image in images %}
                <div class="image-item">
                    <img src="{{ url_for('static', filename='images/' + image[1]) }}" alt="{{ image[2] }}">
                    <form action="{{ url_for('delete_image', filename=image[1]) }}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить изображение?');">
                        {% if logged_in and (username == 'admin' or username == 'user') %}
                            <button type="submit" name="del-btn">Удалить</button>
                        {% endif %}
                        <!-- <p>{{ image[2] }}</p> --> <!-- эта фича отстой. Устал думать, как лучше прикрутить это. Оставлю на потом -->
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    <!-- Подключение скриптов Bootstrap и jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <footer>
        <p>&copy; 2024 Простая Онлайн Галерея.</p>
    </footer>
</body>
</html>
