<div id="mySidenav" class="sidenav">
    <p class="username visible-on-small-screen">{{ username }}</p>
    <form action="/search" method="GET">
        <input type="text" class="query visible-on-small-screen" name="query" placeholder="Поиск" maxlength="20">
    </form>
    {% if logged_in %}
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">{{ username }}</a> 
        <a href="{{ url_for('get_profile', query=username) }}">Мои изображения</a>
        <form action="/logout" method="post">
            <input type="submit" class="btn btn-danger-out" value="Выйти">
        </form>
    {% else %}
        <button type="button" class="btn btn-primary-main visible-on-small-screen" data-toggle="modal" data-target="#loginModal" name="login-btn">Вход</button>
        <button type="button" class="btn btn-primary-main visible-on-small-screen" data-toggle="modal" data-target="#registerModal" name="reg-btn">Регистрация</button>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><</a> <!-- Кнопка назад (закрытие) для бокового меню -->
    {% endif %}
    {% if logged_in %}
        {% if username == 'admin' %}
            <form method="post" action="{{ url_for('clear_gallery') }}" onsubmit="return confirm('Вы уверены, что хотите удалить все изображения?');">
                <button class="clear-btn visible-on-small-screen" name="clear-btn" type="submit">Очистить галерею</button>
            </form>
        {% endif %}
        <button class="add-btn visible-on-small-screen" name="add-btn">Добавить</button>
        <form method="post" action="{{ url_for('delete_user_images') }}" onsubmit="return confirm('Удалить все Ваши изображения?');">
            <button class="delete-all-btn visible-on-small-screen" type="submit" name="delete-all-btn">Удалить всё</button>
        </form>
    {% endif %}
</div>
<!-- Элемент для открытия сайдбара -->
<span onclick="openNav()" class="visible-on-small-screen" name="menu" role="button" tabindex="0">меню</span>